@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {font-family: "Comfortaa", sans-serif; font-size: 1rem}

a{color: #ffffff; text-decoration: none;}

    #navbar {
        display: flex;
        flex-direction: column;
        background-color: #133A41;
        color: #ffffff;
        height: 100vh;
        width: 20vw;
        padding: 0;
        position: fixed;
        font-family: "Inter", sans-serif;
        font-size:1rem;    
    }
    #logo img {max-width: 100%; height: auto;}

    #user_menu {margin-left: 3vw;} /*! O traçado vertical (|) */

    #user_pages {
        margin-left: 0.8vw; 
        border-left: 0.4vh hsl(0, 0%, 80%) solid;
        display: grid;
    }

    #other_pages{
        padding-top: 4vh;
    }

    #other_pages>a{
        display: flex;
        flex-direction: row;
        padding-left: 0.5vw;
        padding-top: 2vh;
    }

    #other_pages>a>img{
        padding-right: 1vw;
    }

    .title{
        font-family: "Inter", sans-serif;  
        font-size: 1rem;
    }

    .pagatual{font-weight: bold;}

    .icone {
        margin-bottom: 2vh;
    }

    .botao {
        position: relative;
        cursor: pointer;
        padding: 1vh;
        top: 60%;

    }.seta{
        min-width: 10.48px;
        width: 1vw;
        border: 0.2vh hsl(0, 0%, 80%) solid;
        background-color: hsl(0, 0%, 80%);

    }.linha{
        display: flex;
        align-items: end;
    }

    #sair{
        position: fixed;
        bottom: 0;
    }

    #sair>a{
        display: flex;
        flex-direction: row;
    }

    #sair>a>img{
        padding-right: 1vw ;
        padding-bottom: 2.5vh;
    }

    /*! Navbar end  */

#text_buscar{
    margin: 4vh;
    padding: 20px;
    height: 8vh;
    width: 70vw; 
    border-style: none;
    font-size: 14px;
    max-height: 6vh;

    background-image: url("../../imgs/icons/pesquisa.svg");
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 25px;
}

/* MAIN */

#containertotal{
    position: absolute;
    left: 22vw;
    color: #1e1e1e;
}

/* fazer aquele bagulho de quando for diminuindo o tamanho da tela fazer com que o texto suma */
#botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button{
    padding: 1vh;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    margin-left: 20px;
    padding-left: 3vw;
    padding-right: 3vw;

    position: relative;
    top: 0;
    background-color: #dddddd;
    transition: all.2s ease-in-out;
}

.button:hover{
    top: -4px;
    box-shadow: 0 6px 9px #b4b4b4 ;
}

/* cores dos botoes */
#btn1{background-color: #69C9D0;}
#btn2{background-color: #428390;}
#btn3{background-color: #133A41;}
#btn4{background-color: #EE1D52;}
#btn5{background-color: #ad153b;}

input{
    border: none ;
    padding: 1vh;
    background-color: #F5F5F5;
}

#all_produts{
    background-color: #EBEBEB;
    padding: 2vh;
    max-width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 1vw;    
}

#all_produts>#produto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2vh;
}

#produto{
    height: auto;
    max-width: auto;
    width: 70vw;
    background-color: #ffffff;
}

#produto{
    top: -4px;
    box-shadow: 0 6px 9px #b4b4b4 ;
}

#produto:hover{
    border: 4px solid #69C9D0;
    cursor:pointer;
}

#produto>a{
    display: flex;
    flex-direction: row;
}

[data-tooltip] {
    position: relative;
  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    bottom: -15px;
    padding: 5px;
    border-radius: 3px;
    left: calc(92% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #0095ff;
    color: White;
  }
  
  [data-tooltip]:hover:after {
    display: block;
  }

#img_prodt_div{
    border: 1px solid #AFAFAF; 
    text-align: center;
    max-height: 40vh;
    max-width: 8vw;
    width:auto;
    padding: 1vh;
    background-color: #ffffff;
}

#img_prodt{max-width: 100%; height: 18vh; } 

#info_prodt{
    padding-right: 1vh;
    background-color: #ffffff;
    color:#1e1e1e;
    display:flex;
    flex-direction: column;
}

#info_prodt>#txt{
    margin-top: 2vh;
    padding-left: 3vh;
}