@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {font-family: "Comfortaa", sans-serif; font-size: 1rem}

a{color: #ffffff; text-decoration: none;}

    #navbar {
        display: flex;
        flex-direction: column;
        background-color: #133A41;
        color: #ffffff;
        height: 100vh;
        width: 20vw;
        padding: 0;
        position: fixed;
        font-family: "Inter", sans-serif;
        font-size:1rem;    
    }
    #logo img {max-width: 100%; height: auto;}

    #user_menu {margin-left: 3vw;} /*! O traçado vertical (|) */

    #user_pages {
        margin-left: 0.8vw; 
        border-left: 0.4vh hsl(0, 0%, 80%) solid;
        display: grid;
    }

    .title{
        font-family: "Inter", sans-serif;  
        font-size: 1rem;
    }

    .pagatual{font-weight: bold;}

    .icone {
        margin-bottom: 2vh;
    }

    .botao {
        position: relative;
        cursor: pointer;
        padding: 1vh;
        top: 60%;
    }.seta{
        min-width: 10.48px;
        width: 1vw;
        border: 0.2vh hsl(0, 0%, 80%) solid;
        background-color: hsl(0, 0%, 80%);
    }.linha{
        display: flex;
        align-items: end;
    }
    #sair{
        position: fixed;
        bottom: 0;
    }