@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {font-family: "Comfortaa", sans-serif; font-size: 1rem}

a{color: #ffffff; text-decoration: none;}

    #navbar {
        display: flex;
        flex-direction: column;
        background-color: #133A41;
        color: #ffffff;
        height: 100vh;
        width: 20vw;
        padding: 0;
        position: fixed;
        font-family: "Inter", sans-serif;
        font-size:1rem;    
    }
    #logo img {max-width: 100%; height: auto;}

    #user_menu {margin-left: 3vw;} /*! O traçado vertical (|) */

    #user_pages {
        margin-left: 0.8vw; 
        border-left: 0.4vh hsl(0, 0%, 80%) solid;
        display: grid;
    }

    .title{
        font-family: "Inter", sans-serif;  
        font-size: 1rem;
    }

    .pagatual{font-weight: bold;}

    .icone {
        margin-bottom: 2vh;
    }

    .botao {
        position: relative;
        cursor: pointer;
        padding: 1vh;
        top: 60%;
    }.seta{
        min-width: 10.48px;
        width: 1vw;
        border: 0.2vh hsl(0, 0%, 80%) solid;
        background-color: hsl(0, 0%, 80%);
    }.linha{
        display: flex;
        align-items: end;
    }
    #kitar{
        position: fixed;
        bottom: 0;
    }
    /*! Navbar end  */

#text_buscar{
    margin: 6vh;
    border-radius: 50px;
    padding: 20px;
    height: 4vh;
    width: 60vw; 
    border-style: none;
    font-size: 14px;

    background-image: url("../imgs/icons/pesquisa.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 3vh;
    padding-right: 20%;
}

/* MAIN */

#containertotal{
    position: absolute;
    left: 24vw;
}
#icon_btn_adm{max-width: 100%; height: 3vh; padding-right: 20px;}

.button{
    padding: 1vh;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 40px;

    position: relative;
    top: 0;
    background-color: #dddddd;
    transition: all.2s ease-in-out;
}

.button:hover{
    top: -4px;
    box-shadow: 0 6px 9px #b4b4b4 ;
}


/* cores dos botoes */
#btn1{background-color: #69C9D0;}
#btn2{background-color: #428390;}
#btn3{background-color: #5A3A3F;}
#btn4{background-color: #E0A072;}


input{
    border: none ;
    padding: 1vh;
    background-color: #F5F5F5;
}

#all_produts{
    background-color: #EBEBEB;
    padding: 2vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;  
}

#produto{
    padding-top: 1vh;
    padding-bottom: 1vh;  
    max-width: 30vw;
}

#img_prodt_div{
    border-right: px solid #AFAFAF; 
    text-align: center;
    max-width: 10vw;
    background-color: #ffffff;
}

#img_prodt{max-width: 100%; height: 25vh; } 

#info_prodt{
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: #ffffff;

}

#estoque{
    color: #ffffff;
    margin-top: 12.5vh;
    padding: 1.5vh;
    background-color: #133A41;
}
