/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* INFORMAÇÕES PRODUTOS */
/* Header -  Menu*/
#menu{
    background:#133A41;
    display: flex;
    height: 18vh;
}

/* logo */
#logo{
    margin-left: 5vh;
}
#logo img {max-width: 100%; height: auto;}

/* barra de pesquisa */
#text_buscar{
    margin-top: 7.5vh;
    margin-left: 4vw;
    border-radius: 50px;
    padding: 20px;
    height: 4vh; /* vh -> altera de acordo com a ALTURA da interface */
    width: 60vw; /* vw -> altera de acordo com a LARGURA da interface */
    border-style: none;

    background-image:url(../imgs/icons/pesquisa.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 4vh;
}

#img_buscar{
    margin-top: 7vh;
    height:26px;
    width:33.31px;
}

/* icone "conta" & icone "carrinho"  */
#icone_menu{
    margin-top: 7.8vh;
    margin-left: 5vw;
    height:34px;
    width:34px;
}

#icone_menu2{
    margin-top: 4.8vh;
    margin-left: 5vw;
    height:34px;
    width:34px;
}

/* Main - Conteúdo */
#avaliacao{
    display: flex;
    flex-direction: row;
}

#rs{
    font-size: 10px;    
}

#div_img_prod{
    padding: 2vh;
    border: 1vh #AFAFAF;
    border-radius: 5px;
}

#img_produto{
    height: 415;
    max-width: auto;
}

#valor_produto{
    display: block;
    flex-direction: row;
}

#btn{
    color: #133A41;
    background-color: antiquewhite;
    border: 0vh;
    padding: 1vh;
}

#btn1{
    color: #FFFFFF;
    background-color: #428390;
    border: 0vh;
    padding: 1vh;
}

/* Footer - Rodapé */
footer{
    color: #FFFFFF;
    background-color: #133A41;
}

#alinhar{
    display: flex;
    margin-left: 5%;
}

/* contatos */
#title_fot{
    padding: 20px;
    margin-left: 10vh;
    font-size: 16px;

}

#div_txt{
    margin-left: 10vh;
    display: flex;
    font-size: 10px;
    padding: 5px;
}

/* informações gerais --> OBS: id/alterações q possuem repetição por ser do mesmo estilo anterior n se encotra separado */ 
#link_fot{
    text-decoration: none;
    color: #FFFFFF;
}

/* informações pagamento --> OBS:a mesma coisa ocorre aqui */
#linha{
    width: 100px;
    margin-left: 10vh;
    align-items: center;
}

#alinhar_divs{
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
}

#alinhar_divs>div{
    padding-left: 8vw;
}

#alinhar_divs>div>h4{
    text-align: center;
}

#hr_align{
    padding-bottom: 1vh;
}

#contatos_lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#contatos_lista>a>img{padding-bottom: 1vw;}

#informacoes_lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#informacoes_lista>a>img{padding-bottom: 1vw;}

#formas_pag_lista{
    display: flex;
    flex-direction: row;
}

#formas_pag_lista>img{padding-right: 1vw; margin-left: 1vw; margin-right: 1vw;}

#outras_lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

#outras_lista>a{padding-bottom: 1vw;}

#outras_lista a {
    color: inherit; /* ou escolha a cor que você preferir */
    text-decoration: none; /* Remove o sublinhado */
}

#outras_lista a:hover {
    text-decoration: underline; /* Opcional: adicione um sublinhado ao passar o mouse */
}


.titulo{
    background-color: burlywood;
}

#contatos_lista{
    list-style: none;
}

#informacoes_lista{
    list-style: none;
}

#formas_pag_lista{
    list-style: none;
}



#icone_menu2{
    margin-top: 4.8vh;
    margin-left: 5vw;
    height:34px;
    width:34px;
}

.header_conta {
    display: flex;
    justify-content: space-around;
    background-color: #133A41;
    padding: 15px 0;
}

.header_conta ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.header_conta li {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

.header_conta li:hover {
    background-color: #3e4f55;
}


.dropdown {
    display: none;
    position: absolute;
    background-color: #133A41;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 180px;
}

.dropdown li {
    display: block;
    padding: 10px;
    background-color: #1a2b33;
}

.dropdown li:hover {
    background-color: #2e3c42;
}


.header_conta li:hover .dropdown {
    display: block;
}

#redes{
    background-color: #172B2F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2vw;
}

#redes>img{
    margin-left: 1vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    top: 60px; 
    
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown>a>li>img{
    padding-right: 1vw; 

}

.dropdown>a>li{
    background-color: #FFFFFF;
    color: black;
}

.dropdown>a{text-decoration: none;}

.dropdown-content a:hover {background-color: #FFFFFF;}

.dropdown-content.show {display: block;}