/* Importação de Fonte */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif !important;
}

/* Conteiner da Imagem do Produto */
.product-image-container {
    width: 40vw;
    aspect-ratio: 1; /* Mantém a imagem quadrada */
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre o contêiner mantendo a proporção */
}

/* Título e Preço do Produto */
.product-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.5rem;
    color: #69C9D0;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Avaliação */

.estrelas input[type=radio]{
    display: none;
}

.estrelas label:before{
    color: #428390;
}

.estrelas input[type=radio]:checked~label:before{
    color: #c7c7c7;
}




/* Estoque e Descrição */
.product-stock {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1rem;
}

.product-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Quantidade do Produto */
.quantity-container {
    max-width: 150px;
}
.quantidade{
    border: 1px solid #D9D9D9; /* Cor da borda */
    border-radius: 10px;
}

.quantity {
    width: 20px;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    color: #6c757d; /* Cor do texto */
    background-color: transparent; /* Sem preenchimento */
    border: 0;
}
.quantity:focus {
    outline: none;
    box-shadow: none;
}

/* Botões de Ação */
.action-buttons {
    margin-top: 1rem;
}

.btn-primary {
    background-color: #F9EEE4 !important;
    border: none !important;
    color: black !important;
}

.btn-success {
    background-color: #428390 !important;
    border: none !important;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    .product-title {
        font-size: 1.5rem;
    }

    .product-price {
        font-size: 1.2rem;
    }

    .product-image-container {
        max-width: 100%;
        margin: 0 auto;
    }

    .action-buttons {
        flex-direction: column;
    }
}

#carrinho{
    height:50%;
    margin-right: 5px;
}
#botaocarrinho{
    display: flex;
}
.buttoncoisa{
    justify-content: center;
    display: flex !important;
    max-width: 17.5vw !important;
    height: 7.5vh;
    align-items: center;
}
.quantity-container{
    margin-top: 27.5vh;
    min-width: 40vw;
}
#estoque{
    display: flex !important;
    font-size: 0.75rem;
    align-items: end !important;
    text-align: end !important;
}
#textobaixo{
    padding-top: 50px;
    padding-left: 10px;
}
.btn-outline-secondary{
    border: 0 !important;
    margin: 0 !important;
}
#titlequantia{
    font-size: 1.5rem;
    padding-right: 10px;
    padding-top: 30px;
}