@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&family=Roboto+Serif:wght@100..900&display=swap');

/* Estilo geral */
body {
    font-family: "Roboto Serif", serif;
    background-color: #e8f2ed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Carrossel */
.carousel {
    position: relative;
    width: 100%;
}

.carousel img {
    width: 100%;
    height: auto;
}


/* Categorias */
.categorias {
    width: 100vw;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#2C7669, #FFFFFF);
    transform: translateX(0); /* Controle inicial de posição */
    transition: transform 0.5s ease-in-out; /* Animação suave */
    margin-bottom: 20px; /* Espaço entre categorias e próximos elementos */
    flex-wrap: wrap; /* Permite a quebra para a próxima linha se necessário */

}

.categorias:not(.active) {
    display: none; /* Esconde seções não ativas */
}

.categoria {
    background-color: #ffffff;
    color: #5A3A3F;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 27.5%;
    height: fit-content;
    margin-bottom: 20px; /* Espaço inferior entre as categorias */
    box-sizing: border-box; /* Inclui o padding e border no cálculo da largura */
}

.categoria:hover {
    transform: scale(1.05);
}

.categoria-linha {
    width: 50px;
    height: 5px;
    margin: 10px auto 0;
    border-radius: 2px;
}

.destaque-amarelo {
    background-color: #ffc107;
}

.destaque-azul {
    background-color: #17a2b8;
}

.destaque-cinza {
    background-color: #6c757d;
}

/* Botão de navegação entre categorias */
.navigation-buttons {
    width: 95vw;  /* Garantir que ocupe toda a largura da tela */
    margin-left: 0;
    position: absolute;
    top: 35%;
    left: 2.55vw;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.arrow-prev, .arrow-next {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}
.arrow-prev img, .arrow-next img{
    width: 40px;
    height: 40px;
}

.arrow-prev:hover, .arrow-next:hover {
    transform: scale(1.1);
}

.arrow-prev:disabled, .arrow-next:disabled {
    cursor: not-allowed;
    visibility: hidden !important;
}


/* Produtos Populares */
#produtos-populares {
    padding: 20px;
}

.titulo-populares {
    background-color: #2C7669;
    color: #ffffff;
    border-radius: 10px 50px 50px 10px;
    padding: 10px;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 1vw;
    width: 20vw;
    margin-bottom: 3.5vh;
}

.lista-produtos {
    display: flex;
    justify-content: flex-start;  /* Alinha os itens à esquerda */
    flex-wrap: wrap;  /* Permite que os itens quebrem de linha se necessário */
    margin: 0;
    padding: 0;
}

.produto-card {
    background-color: #ffffff;
    border: 1px solid #AFAFAF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 250px; /* Definido em pixels */
    height: fit-content;
    max-height: 60vh;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Isso vai empurrar a div_botao para o fundo */
}



.produto-card img {
    width: 100%;
    height: 30vh;  /* Tamanho fixo para todas as imagens de produtos */
    object-fit: cover;  /* Garante que a imagem ocupe o espaço sem distorcer */
    object-position: center;  /* Centraliza a imagem dentro do espaço */
    border-top-left-radius: 8px;  
    border-top-right-radius: 8px;  
}



.produto-card:hover {
    transform: scale(1.02);
}

.produto-detalhes {
    height: 25%;
    padding: 5px;
}

.produto-preco {
    font-size: 1.25rem;
    font-weight: lighter;
}

.produto-nome {
    height: 7.5vh;
    font-size: 1rem;
    color: #5A5A5A;
}

.div_botao {
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 12%;    
    margin-top: auto; /* Garante que fique na parte inferior do card */
    margin-bottom: 0.5vh;
}

.btn-comprar {
    background-color: #2C7669;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 90%;
    padding: 1vh 0;
    border: none;
}

.btn-comprar2 {
    background-color: #2C7669;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 90%;
    padding: 1vh 0;
    border: none;
    margin-left: 1vw;
}

.btn-comprar:hover {
    background-color: #235e56;
}
/* Estilo geral do container */
.endereco-container {
    display: flex;
    flex-direction: row; /* Organiza os elementos na horizontal */
    justify-content: space-between; /* Espaça os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 20px;
    background-color: #f8f8f8; /* Cor de fundo */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    height: 15vh;
    width: 90%;
    margin-left: 5vw;
}

/* Estilo da imagem do local */
#endereco-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

#local img {
    width: 40px; /* Tamanho da imagem */
    height: auto;
}

/* Estilo dos itens do endereço */
.endereco-items {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    color: #333;
}

.endereco-items span {
    margin-bottom: 10px; /* Espaço entre as informações */
}

/* Estilo para a setinha (ícone) */
#setinha {
    margin-left: 10px;
    width: 16px;
    height: auto;
    vertical-align: middle;
}

/* Estilo da imagem de mapa */
#div_img {
    flex: 1;
    display: flex;
    justify-content: center;
}

#div_img img {
    width: 100%; /* Imagem ocupa toda a largura do container */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra na imagem */
    transition: transform 0.3s ease;
}

#div_img img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

#imgendereco{
    width: auto !important;
    height: 10vh !important;
    max-width: none;
    max-height: none ;
}

.categorias-wrapper {
    width: 100vw;
    height: fit-content;
    position: relative;
    display: flex;
}

@media (max-width: 768px) {

    .navigation-buttons {
        width: 100vw;  /* Garantir que ocupe toda a largura da tela */
        margin-left: 0;
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        z-index: 10;
    }

    /* Ajustes para categorias */
    .categorias {
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        justify-content: center; /* Alinha as categorias no centro */
    }

    #produtos-populares{
        padding: 2.5vw;
    }

    .categoria {
        width: 45%;  /* Ajusta para 2 categorias por linha */
        height: auto;
        padding: 15px;
        font-size: 18px;
        text-align: center;
    }

    /* Ajustes no carrossel de imagens */
    .carousel img {
        width: 100%;
        height: auto;
    }

    /* Ajustes na navegação do carrossel */


    .arrow-prev, .arrow-next {
        width: 35px;  /* Reduz o tamanho dos botões */
        height: 35px;
        font-size: 1.2rem;
    }

    .arrow-prev img, .arrow-next img {
        width: 35px;
        height: 35px;
    }

    /* Ajustes nos produtos */
    .produto-card {
        width: 45vw;  /* 2 produtos por linha */
        height: 50vh;
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;  /* Certifique-se que o botão fique no final */
    }

    .produto-card img {
        height: 55%; /* Ajusta a altura da imagem para proporcionalidade */
    }

    .produto-detalhes {
        height: 22%; /* Ajusta a altura para economizar espaço */
        padding: 3px; /* Reduz o padding interno */
    }

    .produto-nome {
        font-size: 0.9rem; /* Reduz o tamanho do texto */
    }

    .produto-preco {
        font-size: 1.1rem; /* Ajusta o tamanho do preço */
    }

    .div_botao {
        margin-top: auto;
        margin-bottom: 0.5vh; /* Reduz as margens superiores e inferiores */
    }

    .btn-comprar {
        padding: 0.8vh 0; /* Reduz o padding do botão para manter a proporção */
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }

    /* Ajustes na visibilidade do endereço em telas pequenas */
    .endereco-container {
        display: none;  /* Oculta a div */
    }

    .titulo-populares {
        width: 45vw;  /* Ajusta o título para ocupar melhor o espaço */
        margin-bottom: 3.5vh;
    }

    /* Ajustes para a imagem do local */
    #local img {
        width: 30px; /* Ajusta o tamanho da imagem */
    }
}

